.rg-section {
  min-height: 400px;

  position: relative;
}

.rg-section .rg-section-description {
  height: 100%;
}

.rg-carousel {
  width: 100%;
  height: 100%;

  position: relative;
}

.rg-carousel .rg-carousel-controls-container {
  width: 100%;
  height: 50px;

  position: absolute;
  bottom: 50%;
}

.rg-carousel .rg-carousel-control {
  position:absolute;
  top: 25%;
  z-index: 100;
}

.rg-carousel .rg-carousel-control-left {
  left: 0;
}

.rg-carousel .rg-carousel-control-right {
  right: 0;
}

.rg-carousel .rg-carousel-viewport {
  width: 200px;
  position: relative;
}

.rg-carousel .rg-slide-img {
    width: 100%;
    height: 100%;
}

.rg-carousel .rg-carousel-slide {
  width: 200px;
  height: 200px;

  display: inline-block;

  position: absolute;
  left: 0;

  transition: 0.6s ease-in-out left;
}

