extend layout

block styles

block scripts
  script(src="app/app.js")
  script(src="app/ResponsiveGalleryCtrl.js")

block content
  div(ng-app="responsive-gallery", ng-controller="ResponsiveGalleryCtrl")
    h1 {{app.name}}
