doctype 5
html(lang='en')
  head
    meta(charset="utf-8")
    title Responsive Gallery

    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")
    block styles

    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.1/angular.min.js")
    script(src="http://code.jquery.com/jquery-1.10.2.min.js")
    block scripts

  block content
  


