doctype 5
html(lang='en')
  head
    meta(charset="utf-8")
    title Responsive Gallery

    link(rel="stylesheet", href="vendor/css/skeleton/base.css")
    link(rel="stylesheet", href="vendor/css/skeleton/skeleton.css")
    block styles

    script(src="http://code.jquery.com/jquery-1.10.2.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.1/angular.js")
    script(src="vendor/js/ui-bootstrap-tpls-0.6.0.js")
    block scripts

  block content
  


